# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env

# Editor folders
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Logs, temporary files
*.log

# Optional: sensitive files
secrets.json

# IDE specific
*.iml

# Others
*.sqlite3
